Source: musikloud2-internetradio
Section: user/multimedia
Priority: optional
Maintainer: Stuart Howarth <showarth@marxoft.co.uk>
Homepage: http://marxoft.co.uk/projects/musikloud2
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3

Package: musikloud2-internetradio
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A plugin for MusiKloud2 providing access to internet radio stations
XB-Maemo-Display-Name: MusiKloud2-InternetRadio
