Source: musikloud2-mixcloud
Section: user/multimedia
Priority: optional
Maintainer: Stuart Howarth <showarth@marxoft.co.uk>
Homepage: http://marxoft.co.uk/projects/musikloud2
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3

Package: musikloud2-mixcloud
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, musikloud2, python
Description: A plugin for MusiKloud2 providing access to content from Mixcloud
XB-Maemo-Display-Name: MusiKloud2-Mixcloud
XB-Maemo-Icon-26:  
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9wCFAEQDTki4YcAABHRSURBVHja
 3Vt5mFxVlf+de+979Wqvru5Op0OWThSaxNCQZSYSGUc0ojKgA3zgIIKC+gkiMyqu4/ahzIgCDptG
 Z1wQgoy4C+KgIjIxw5YQSLMFUEwT0tl6SVdXV9V7754zf7yq6up0J+nuBAze76uvuutt9/zO7571
 PsJBjls3l3B2Z3zMb5+5R3DMjBHXkDgxRRoEpQlKa0UGoP3dz0IktCJWiFmEA7bW+hSsf479r5yW
 HXPuD54awduPThzU/GlaV4ngD48M4YQloxO69bHCvJTR8+IGLULUXgmly4ocpQRHCCFHhIwCxYgk
 eqxMPBMRAQMVEQwBGATkBSW0OeZQtyL0jgS0q2R5y1mvSvbULl376DD+risJEL1EAFTHmkcGF+Ti
 zpkxo5YFVjoDlnlgZAUAi0AirPb6lv1PiAiESJbGb0XVY4RBo6jH0fRU2bcbBqz64XmLE8+96Az4
 8dNlnHGUBwC4rXtkRTauriLhxaWAkxWGAxlVqoxKSft6JDUelUZCTAiQVMGhxmtjCoHnqCKA7iEf
 l575qsRDAPDTjSWctiR+aAG46eGiyaaoU1m+ydFq6XBgEVocFsPRhJSr4FteD1+dty30n3n/0lw4
 mWvVfim+qR8A8NMnijOyHl+vrH2sEtqlfcVAKgELM+Nw+JQDK7uGA6kEdjkc+8SMmLr2J48UWgHg
 5o2D02PArY8UcPZxady8aeDYnFE3lgM+rmLr9CYcnkOIiDwDuFptHKzIu85bmuv+/oY+vGNZ8+QB
 +O7GPpy/pBk3PTx8fJPr3zVUkXTIUluLh6vwjfaCjAbSMb2nf9i+5d0rWu773sO78a6lLZNnwLce
 3n1Mq6H/GyjbFLO8HAQfB4RSRPm4Luyu8MoLlrc+NmkG3Hz/jnbPpbuKvj0msJCqZ3rZDRGIo0Ep
 V2/yYd70jqX57fsF4DvdfdADFR2Lq6sqof1QORT8NYy4oxBz9NUhOZ8YKrO9aGXLvhmwZtPOo6jk
 by6Uueae6WUuvxBAKU/Dh3PkBStmPNt40Ox9Nhf9W8pBiNDKX4PwNSXLSMWS5+BmAMePWwK33SY4
 6yzCfz6wfaUXltYNlFjoMBJe6tGjHMQ9IPmEphH2Vrz/hJkPQgQgihjQs+AJAIBnK1cWShbCAnnp
 lLPXRAVMBj65sAIIW8SLO+EgQJjIQyk97acNjQjSCf8qAK/98W+34IxGil/z+96jsjT8QP8I5+hF
 1H1jMlT7OySDUABmC/HLmN17P17z5LeQHXkBAOAGI/jl4o+g5xUnIxZPQikFmsYkRYB8Ug2OqMyy
 i09o+xMAmHtu34wTT+1ESpfPKJZsipkPqcAsDbplgQ5LMMEwxFowM2LFnTjx8W9iUe9aMEUqYVKw
 yoGQAgFwuILhvh0YbhmANg6M4057PsWyJGPuyFkArvjtD56AOfHUzoiMYWVJyQ8Ny6ET3PhDaNv9
 OLzyAMAhQhHM37YOxz5/JzRHqa4ACIxB2Y2Pc0tU/yaUigWURopI5SxIMabL0pLPTtxRSwBg1dsX
 RTbg6/+7ZV6lXDw6tBZyiAAoUwxvu+/zmLPzIcT9IRC4Gp4ZhMZDGAXuDULur0YAjBSH0d/fj1gq
 h0w2C6XUtJwUE1Dxg86v3f3c3IvfML/HRNr355UDO9faQ0f/ChjtfZvg2jKsdicMJyc7/dAK/ubI
 drzxpOPQV3Fw+/o/obk5D9eL143iVGxCJbRzPe3PBVAFICg3B2GYtfbQJPhEhNAGkYhEB196AmCM
 RszReMPiV+JNr16EG3/1AJ7cthvxVAbGcacEQBCiKe4ELQCgPv24wDLPstZCooGD/YSWUS5XDlj+
 ms6wLNBK4T2nrMSyjiZs39oDvzwCay2EeTLzE2stwsC24acC09a7xfUtdYWhhbUHN2EBYBRhZtbD
 0R05xNZqIDzkGESRgwjOPmkFWnNJ3Pg/GzC3owPGiU2qMBqCEDhu11cTWxwTVopOGIZHh9aCefpM
 tSxIegaaCK9ddAT6Aw2j1fQT+hp79iEQEUFE8Prli9A3OIzfPbYV+ZYZ0NocCAQKAYQcLjI84hqx
 gWYbtofWYro2kEXQ2Z7DsfNn4I4Nz0ErghwonhAZF+5WdAxCGkRAwaSRL++CBu+/gkyEjplN4Ae6
 UYrFYLwEHOMASu0XYcvcrtlqI2DFIjlrGQeKAfzQwtEKfhAAALTSAAHlSoDXLFqMkh+AmaPAuyqg
 AFAi0BJWI3KBCLDdm4mB+EwopUHGoBLLonvGCSjl5iIe96BSebz15+dA+0P7IwJEBCu6OrGiqxM/
 +f3D2DlUxvpnepHL5aJ7TwSEAByGTaxIGQ58ZUOb2V8M4AchWIB3rzoGP1q3GScunoPQMgqVAEGl
 gkTcQ8kPoqZGZEzrAJAI+nQGG5OLEaRaEfPiiMVcDGY6UMzNQyKRQDKZRDKZQJfnIBmPw/M8SCIH
 55ca8A/scWpAnP66pQCA//rZvVj7eA+aW2ZAG2ccekyAtTbNISljbUhhaGORC6RxNHUdgzcun4+7
 Nz2PYzta8aM/PIUF7XmEltE7MIzOWbPRX6zAWo7C2AZLXBs7vZl4ouPNmD9nNppaW5FOpzCrKqjn
 eYjFYnAcB47jwBgDpRQC14NVakqutzbe949/j76BX+DZXQNIZnLQ2hknmg3DOCshwzYkZouJgiAS
 hnI1OtryYP4zBIDlSMMsDLYMrVUkcBU+ywzBWACUcdDaNhMLj+7ErFmzEI/HYYyB1hpKqXpyUxOC
 iCAETMckiQiICCevXIyrv/9rVBwHrpcctxQsK7AlMmIt2DIsWzTGasVSGee+/hjc8dCfIMIRQAKw
 3dvXog4AALC11U5PAwBKIRFPIJvNIpfLwXUnDlwa6Txdd1TzDl2dCxAUB8DKhdIutOOMSbmtVbAK
 UFFzIWKAtRbWWgRhiLaMhxOPewX8IIRUU1WgmrJWi2VR/28sGLa+BPaamKJx2t77c6gCpxqQ7z3j
 JOzp3wW/UoYNw7p81jLEMoQtlGVLlnlMFFWp+Dj1+IVVbTAEDK66CGYZ1XBD51OkauGZ64HKVCN/
 OsSFiNcfvwzDQ3sQBuVIcTVFccR4y5aMtVxdAqNRUBiG0NV/am4tqhPIGCPHDZoHSZUpPArIFNbs
 uGLJoUrKyiX4FR+OZ0Eyem9mhrWAEZaox2dtfSJhGIAlMkHWciSYtaNGEFI3hHUhhCAkDUtAprRm
 axOzRLAMlCRqXE6XEzVgbVCBDQNYy1AYBZpZQZjENDYZ6xbShpA65SOBbfX4OCOIBhaAqkBNjQEQ
 ASuFSrmCcPX5YLFgBlRp6OALM9VINZKj0QswrCgYQURl28AAtgKlqM4AVG9QA6S29qVGd4wavaks
 gdo5VimU/vvzsPd8GyjsjspgtU0A07QLRIRLL7saiXgCIAIz172cQMBswMxQzCJiubomIiuptcKv
 7++urvkIObZjl0QjzccaF4YVIBwXV8s+Ex9/0z2wv1kNGu6L/LVSACmAaoVwmZaHeOTJZ+B4CYA0
 mKUuH1uOanYCMSxKWFAWZq/2CEWEezc+g6e39NaFs3UGjF0CXBPciSEYKSBXeB6JDVuRLQMSlCPM
 Zd9bY9gygt5ngT27AC8+QTAmCMmBVS6I1KTX/sbHngQrF7FYAqR0ZOQbijNMGGGl2JDWDKI9Iuzx
 6B4X5HJZXHHj7TCJpuiCuk2oRnoYdX2+SaB059ewqO8+XND7R8x5fAuOIICNV6fcvjNJRmgtDI3v
 wwkABUFvcg52NnVitmMO6CqJCFu2bsOHv3ANJJaBE0+CSI1hrIraEUNEWowVMAsPMXNbI2uV1ugr
 ltHsMYIwrPv10WwvmjwL8OrC/Sg9+GW4jgZACNz4qCAH7LARYJzRGsBeAloo3Nf+ZuTbZiOdSlWL
 ofvWvO8HOO29l8JNN6Mp2wztxsAAqDE9JwFD9jCIjXZcS6WRF4TtkXunA46XxGBhGB/7jzWgWBKD
 Q8Ow1mKkVEIQMioVH4WhPZA/PgiXLIQc0ATiGr8IOzyI4kgJheJIlK8T6tnjwOK3Ilx+LhKP/gLK
 BlAEWFHQYrF64afQ0TEPM1qaobRBqeKj4gdjgBIWKKVw7/3rcfFnr8QRczqQzLfBSaRBpLF3r4MU
 AJYXQCakT3xvrTu0e9s1uweGLgp44m4wEYGUwnNPbULHkYtgi/3gIAA5MXiFrVgzeB1K8Yl3ZSkI
 flfI4eP9y9HW0oJYIlmdgdR7tyIhyhYYGh5GfvdTSKkAL9gUCrE8Mi4hnkzD9RLVhgihHtFUCwXF
 Ygnbdw8imcki39yKWDKDWCIF7cRAapxKxFGg5nz2uqb2eR81V5x3gn/hl29+FCI4UFl8zisXIbQM
 xJvAJoBSCqXUbPyychxOlm6UyB3d+VavaAm+PbgAJpFD4OUAk6hWa/ZqkTEjpeMoJnIYCkMoCJq1
 hjIOyHERagO7j/XvNuUwv3UutONCGxfacUFKg0WA8XVOcogAv7LpS2evCAwR4f1X3LSTolx+/xam
 gUqkVJQGxFK4NfMPeMXgDhxJuxEgqtPHFMNDiOV/XgU/PQv51pnw0k2RVvZZ6OQoABNbjwFIRe5w
 v5tUaqk0EVT1m6sGeuLTHQDYXd8f4HjpnapY6We2+ekkZP06h3eq9+B1Iw/iHU43NBhX9i/Eg7Yd
 zc1pZDJ5xFJN0I5XFWh8WBCJp0F69NDkQyCJWugCRNsaZL9dJqWcPpNI7awD4OaaelT/zh62nJ9O
 EqKURksmiQfN8bi7tAQ2DBDPWbS7LhwvAcdLQBk3cp1TaL5ObS6TzD2iGmWPSbf2jAH53M+uvm3H
 UPlMO83uqEiUUrMddZmkNJSuFSYPj/0WRhFaM/Hb1nzxwrcDgPrqx9YAAOLZpvUxQ8F0u0EAgZSO
 DJEbg3ZjUMZULT5wKDpOh+LjGgqS2aaHAODqD98yqpZP/3D9/Kc3rHu4bzjMTa84sa+A5/DYalSL
 AptTzsAxf7uq63OnL9oauWkAb7nqSvzbmcufSyQz3Y6iadYjaIq/v/QYOIqQSmUe/dzpi7Z+/ks/
 QR2A8+d+FACQbZ39L2nPQA5lSeawEB0QgNIJg2zbnEsA4LJPnjaxet7977es275j+0rfRhuP/yrk
 FxFXg9pnzlz73U+d89qxkepeI5FPnZ9KeCAikhejv/0XEJ6IKB33RDnxC8aH6g3jI7fei7Sa80w6
 lflC3FWH1QI+mCp53FFIpjOXzZq/8I8Xrr77wBbqkuvvyA/09d6+e7Cw0g/lZbsUIuoTtTSl16Vb
 Zpy6+oNvG5i0if7YTb9v37r5iUd2FcozmF9+IIiIKEXUlkvseOXCJcdedvaKHRNnqxMx4Bt34srz
 Xtc7Y0HXqtZ0rM/RRLXtJS8HwUUEjiGakfZ25ectXHXZ2St2fPzbv5uak77o+jux+pKT8anv3DOz
 Z8uzP95TKK4sBRYiEMJh+AZBVOMUIlDc0chlkus6urpOv/z0FTsvvP4OfOOSU6YepXzoa3fgmotP
 wcXX/ry5ODz4z8XhwmeGRirKtxCq10roL63xevkhpkGpRIwzmcxlqWz+hus+cEr/R773W3z1Xaum
 HL6NG5f/upue3/TM0eXS0Jrh4T1Lh8sWgR1NXF9qHKQhWnM0IRXTSGWy61Ne7p1HnLDw6X99deek
 lquZ7AO3b94m3/zo6U8CWHbxDb9aUejfdlWpWFxcCjlZCdiResOUGtokL8aLkwICQSkg5ugg7qhi
 MpnqTjW3X3rDB97yEABcesPdBx3AT2p84qa1C/p6e84sFfYsCxidoZV5QWizoa221Gv7B+oVH9q7
 RD4OKKrW/Ma+NhsxzBgNo82go6nHKDyVSGU35ObM/+FV56x88V+d3Zt/n7z8+7jis+fUf/rgN++a
 Vxnsm+ePFFpClnYYp0tEjhKWI1gkx2wzbG0M1fa5jKvURq1LUgTSpqKUHlJKDZLCC0poM6zfrRX1
 OoncrmQ+v+Xa951Uf3n645ffiq98+p9e+penAeC9X78D3/rAWAv7s4LgN7fc5QalYUd8X1sbKhsG
 KgwDUmyp2mmiRv1rpaVarxJtXFHGZWMMK9exMScdnHLuSf5JmbHTvXD1nfjGRScf1Pz/H4wQBsF5
 hGO/AAAAAElFTkSuQmCC
